<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limpoxe.support.servicemanager">

    <application>

        <provider
            android:name="com.limpoxe.support.servicemanager.ServiceProvider"
            android:authorities="${applicationId}.svcmgr"
            android:exported="false" />

    </application>

</manifest>
