<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drz.main">

    <application>
        <activity
            android:name="com.drz.main.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GuideActivity"
            android:exported="false" />
    </application>

</manifest>